{% extends "base/base.html" %}

{% load static %}
{% load octicons %}

{% block title %}{{modelHuman|title}} Branches{% endblock %}

{% block body %}

<script src="{% static 'service/scripts.js' %}"> </script>
<script>
  "use strict";
  var editBranchesTableObj;
  $(document).ready(function() {
    editBranchesTableObj=initEditBranchesTable("{% url 'service:datatable_editbranches' model %}");
    loadBranches("{% url 'service:github_repobranches' %}");
  });
</script>

<h1>{{modelHuman|title}} Branch Configuration</h1>

<p>
  The MBSim Build Service provides {{modelHuman}} builds for arbitrary combinations of git branches of the repositories
  {% for repo in repoList %}
    {% if not forloop.first %}
      {% autoescape off %}{{ forloop.last|yesno:" and ,&#44; " }}{% endautoescape %}
    {% endif %}
    <a href="https://github.com/mbsim-env/{{ repo }}">
      <span class="badge badge-success">
       &nbsp;{% octicon "repo" %}&nbsp;{{ repo }}
      </span>
    </a>
  {% endfor %}.
  However, each branch combination (except
  <span class="badge badge-primary">
    {% octicon "git-branch" %}&nbsp;master
  </span>
  for all repos, where the build is always active) must be activated manually for {{modelHuman}} builds. This can be done on this site.
</p>

<h2>Branch Combinations for {{modelHuman|title}} builds</h2>
<div class="card border-info">
  <div class="card-header bg-info">
    {% octicon "eye" %}&nbsp;Current branch combinations activated for {{modelHuman}} builds
  </div>
  <div class="card-body">
    <table style="width:auto" id="editbranchesTable" class="table table-striped table-hover table-bordered table-sm">
      <thead>
        <tr>
          <th style="text-align:center;" colspan="1">{% octicon "git-branch" %}&nbsp;Branch comb.</th>
          <th style="text-align:center;" colspan="4">{% octicon "repo" %}&nbsp;Repositories</th>
        </tr>
        <tr>
          <th>Remove</th>
          {% for repo in repoList %}
            <th>
              <a href="https://github.com/mbsim-env/{{ repo }}">
                <span class="badge badge-success">{% octicon "repo" %}&nbsp;{{ repo }}</span>
              </a>
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<div style="margin-top: 1em;" class="card border-warning">
  <div class="card-header bg-warning">
    {% octicon "pencil" %}&nbsp;Add new branch combination for {{modelHuman}} builds
  </div>
  <div class="card-body">
    <dl style="margin-right:0em;" class="row">
      {% for repo in repoList %}
        <dt class="col-2">
          <a href="https://github.com/mbsim-env/{{ repo }}">
            <span class="badge badge-success">{% octicon "repo" %}&nbsp;{{ repo }}</span>
          </a>
        </dt>
        <dd class="col-10">
          <select id="SELECTBRANCH_{{ repo }}" class="form-control form-control-sm" disabled="disabled">
            <option>&lt;loading&gt;</option>
          </select>
        </dd>
      {% endfor %}
      <dt class="col-2">
      </dt>
      <dd class="col-10">
        <button id="ADDBRANCH" onclick="addBranchCombination('{% url 'service:db_addbranchcombi' model %}')"
                class="btn btn-secondary btn-xs" type="button" disabled="disabled">
          {% octicon "diff-added" %}&nbsp;Add
        </button>
      </dd>
    </dl>
  </div>
</div>

{% endblock %}
