{% extends "base/base.html" %}
{% load static %}
{% load octicons %}

{% block title %}MBSim Videos{% endblock %}

{% block body %}

<div class="container">
  {% for video in videos %}
    <div class="row" style="margin-top:2em;margin-bottom:2em;">
      <figure class="figure col-md">
        <video class="figure-img img-fluid" controls poster="{% static video.col1.poster %}">
          <source src="{% static video.col1.file %}" type="video/webm">
        </video>
        <figcaption class="figure-caption text-center"><span class="h2">{{ video.col1.title }}
          <small><a href="{{ video.col1.href }}">
            {% if video.col2.ext %}
              3rd party&nbsp;{% octicon "link-external" %}
            {% else %}
              source
            {% endif %}
          </a></small>
        </span></figcaption>
      </figure>
      {% if video.col2 is not None %}
        <figure class="figure col-md">
          <video class="figure-img img-fluid" controls poster="{% static video.col2.poster %}">
            <source src="{% static video.col2.file %}" type="video/webm">
          </video>
          <figcaption class="figure-caption text-center"><span class="h2">{{ video.col2.title }}
            <small><a href="{{ video.col2.href }}">
              {% if video.col2.ext %}
                3rd party&nbsp;{% octicon "link-external" %}
              {% else %}
                source
              {% endif %}
            </a></small>
          </span></figcaption>
        </figure>
      {% endif %}
    </div>
  {% endfor %}
</div>

{% endblock %}
