{% extends "base/base.html" %}
{% load static %}
{% load octicons %}

{% block title %}MBSim Videos{% endblock %}

{% block body %}

<div class="container">
  {% for video in videos %}
    <div class="row" style="margin-top:2em;margin-bottom:2em;">
      <figure class="figure col-md">
        <video class="figure-img img-fluid" controls>
          <source src="{% static video.col1.file %}" type="video/webm">
        </video>
        <figcaption class="figure-caption text-center"><span class="h2">{{ video.col1.title }}
          {% if video.col1.example is not None %}
            <small><a href="https://github.com/mbsim-env/mbsim/tree/master/examples/{{ video.col1.example }}">source&nbsp;{% octicon "link-external" %}</a></small>
          {% endif %}
        </span></figcaption>
      </figure>
      {% if video.col2 is not None %}
        <figure class="figure col-md">
          <video class="figure-img img-fluid" controls>
            <source src="{% static video.col2.file %}" type="video/webm">
          </video>
          <figcaption class="figure-caption text-center"><span class="h2">{{ video.col2.title }}
            {% if video.col2.example is not None %}
              <small><a href="https://github.com/mbsim-env/mbsim/tree/master/examples/{{ video.col2.example }}">source&nbsp;{% octicon "link-external" %}</a></small>
            {% endif %}
          </span></figcaption>
        </figure>
      {% endif %}
    </div>
  {% endfor %}
</div>

{% endblock %}
