{% extends "base/base.html" %}

{% load static %}
{% load octicons %}

{% block title %}MBSim runexamples Results: {{run.buildType}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/all.min.css" integrity="sha256-DfWjNxDkM94fVBWx1H5BMMp0Zq7luBlV8QRcSES7s+0=" crossorigin="anonymous">
{% endblock %}

{% block body %}
<script src="{% static 'runexamples/scripts.js' %}"> </script>
<script>
  "use strict";
  $(document).ready(function() {
    initExampleTable("{% url 'runexamples:datatable_example' run.id %}");
    $(".TABLEROWHREF").click(function() {
      window.document.location=$(this).data("href");
    });
  });
</script>
<h1>MBSim runexamples Results</h1>
<dl style="margin-right:0em;" class="row">
  <dt class="col-2">Build type</dt>
  <dd class="col-10">
    {% if allBuildTypesPerSHA or allBuildTypesPerBranch %}
      <div class="dropdown">
        <button class="btn btn-secondary btn-xs" type="button" data-toggle="dropdown">{%autoescape off%}{{runBuildTypeIcon}}{%endautoescape%} {{run.buildType}} {% octicon "triangle-down" %}</button>
        <div class="dropdown-menu" style="padding:1.5em;">
          {% if allBuildTypesPerSHA %}
            <table class="table table-hover table-bordered table-sm">
              <thead>
                <tr>
                  <th>Switch to SAME build of build-type</th>
                </tr>
              </thead>
              <tbody>
                {% for buildType in allBuildTypesPerSHA %}
                  <tr class="TABLEROWHREF" style="cursor:pointer;"
                      data-href="{% url "runexamples:run" buildType.id %}">
                    <td>{%autoescape off%}{{buildType.icon}}{%endautoescape%}&nbsp;{{buildType.buildType}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
          {% if allBuildTypesPerBranch %}
            <table class="table table-hover table-bordered table-sm">
              <thead>
                <tr>
                  <th>Switch to CURRENT build of build-type</th>
                </tr>
              </thead>
              <tbody>
                {% for buildType in allBuildTypesPerBranch %}
                  <tr class="TABLEROWHREF" style="cursor:pointer;"
                      data-href="{% url "runexamples:current_buildtype_branch" buildType.buildType run.build_run.fmatvecBranch run.build_run.hdf5serieBranch run.build_run.openmbvBranch run.build_run.mbsimBranch %}">
                    <td>{%autoescape off%}{{buildType.icon}}{%endautoescape%}&nbsp;{{buildType.buildType}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div>
      </div>
    {% else %}
      {%autoescape off%}{{runBuildTypeIcon}}{%endautoescape%} {{run.buildType}}
    {% endif %}
  </dd>
  <dt class="col-2">Executor</dt>
  <dd class="col-10">{%autoescape off%}{{run.executor}}{%endautoescape%}</dd>
  <dt class="col-2">Called command</dt>
  <dd class="col-10">
    <div class="dropdown">
      <button class="btn btn-secondary btn-xs" type="button" id="calledCommandID" data-toggle="dropdown">show {% octicon "triangle-down" %}</button>
      <code class="dropdown-menu" style="padding:1.5em;">
        {{run.command}}
      </code>
    </div>
  </dd>
  <dt class="col-2" data-toggle="tooltip" data-placement="bottom" title="runexamples/Run: id={{run.id}}">Start time</dt>
  <dd class="col-10 DATETIME">{{run.startTime|date:'c'}}</dd>
  <dt class="col-2">End time</dt>
  <dd class="col-10">
    {% if run.endTime is None %}
      <span class="text-danger">still running or aborted</span>
    {% else %}
      <span class="DATETIME">{{run.endTime|date:'c'}}</span>
    {% endif %}
  </dd>
  <dt class="col-2">Navigate</dt>
  <dd class="col-10">
    <a class="btn btn-info btn-xs" href="?previous=1">
      {% octicon "chevron-left" %} previous
    </a>
    <a class="btn btn-info btn-xs" href="?next=1">
      {% octicon "chevron-right" %} next
    </a>
    <a class="btn btn-info btn-xs" href="?current">
      {% octicon "chevron-right" %}{% octicon "chevron-right" %} current
    </a>
    {% if run.build_run %}
      <a class="btn btn-info btn-xs" href="{% url "builds:run" run.build_run.id %}">
        {% octicon "chevron-up" %} build
      </a>
    {% endif %}
  </dd>
</dl>
<hr/>
<h2>Examples</h2>
<p>
  {% octicon "info" %}A example with grey text is a example which may fail and is therefore not reported as an error in the Atom feed.
</p>
<table id="exampleTable" class="table table-striped table-hover table-bordered table-sm w-100">
  <thead>
    <tr>
      <th>{% octicon "file-directory" %}&nbsp;Example</th>
      <th>{% octicon "code" %}&nbsp;Run</th>
      <th>{% octicon "clock" %}&nbsp;Time</th>
      <th>{% octicon "clock" %}&nbsp;Ref. Time</th>
      <th>{% octicon "browser" %}&nbsp;GUI Test</th>
      <th>
        <span class="float-left">{% octicon "search" %}&nbsp;Ref.</span>
        {% if enableUpdate %}
          <span class="float-right">[update]</span>
        {% endif %}
      </th>
      <th>{% octicon "device-desktop" %}&nbsp;Webapp</th>
      <th>{% octicon "report" %}&nbsp;Depr.</th>
      <th>{% octicon "note" %}&nbsp;XML out.</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

{% if run.coverageOK is not None %}
  <h2 id="coverage">Code Coverage</h2>
  <div class="alert alert-{{ run.coverageOK|yesno:"success,danger" }}" role="alert">
    <span class="text-{{ run.coverageOK|yesno:"success,danger" }}">
      {% if run.coverageOK %}{% octicon "check" %}{% else %}{% octicon "stop" %}{% endif %}
    </span>
    <a href="{% url "base:textFieldFromDB" "runexamples" "Run" run.id "coverageOutput" %}">
      {{ run.coverageOK|yesno:"Passed,Failed" }}: <span class="badge badge-secondary">{{run.coverageRate}}% coverage</span>
    </a>
    <ul class="list-group">
      {% for repo in repoList %}
        {% cycle run.build_run.fmatvecUpdateCommitID run.build_run.hdf5serieUpdateCommitID run.build_run.openmbvUpdateCommitID run.build_run.mbsimUpdateCommitID as repoUpdateCommitID silent %}
        <li class="list-group-item">
          <a href="https://codecov.io/gh/mbsim-env/{{repo}}/tree/{{repoUpdateCommitID}}">{{repo}}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
{% endblock %}
