{% extends "base/base.html" %}

{% load static %}
{% load octicons %}

{% block title %}Build Results of MBSim-Env: {{run.buildType}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/all.min.css" integrity="sha256-DfWjNxDkM94fVBWx1H5BMMp0Zq7luBlV8QRcSES7s+0=" crossorigin="anonymous">
{% endblock %}

{% block body %}

<script src="{% static 'builds/scripts.js' %}"> </script>
<script>
  "use strict";
  $(document).ready(function() {
    initToolTable("{% url 'builds:datatable_tool' run.id %}");
    releaseDistribution("{% url 'builds:releaseDistribution' run.id %}");
  });
</script>
<h1>Build Results of MBSim-Env</h1>
<dl style="margin-right:0em;" class="row">
  <dt class="col-2">Build type</dt>
  <dd class="col-10">
    <div class="dropdown">
      <button class="btn btn-secondary btn-xs" type="button" data-toggle="dropdown">{%autoescape off%}{{runBuildTypeIcon}}{%endautoescape%} {{run.buildType}} {% octicon "triangle-down" %}</button>
      <div class="dropdown-menu" style="padding:1.5em;">
        {% if allBuildTypesPerSHA %}
          <table class="table table-hover table-bordered table-sm">
            <thead>
              <tr>
                <th>Switch to SAME build of build-type</th>
              </tr>
            </thead>
            <tbody>
              {% for buildType in allBuildTypesPerSHA %}
                <tr>
                  <td><a style="display: block;" href="{% url "builds:run" buildType.id %}">{%autoescape off%}{{buildType.icon}}{%endautoescape%}&nbsp;{{buildType.buildType}}</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        {% if allBuildTypesPerBranch %}
          <table class="table table-hover table-bordered table-sm">
            <thead>
              <tr>
                <th>Switch to CURRENT build of build-type</th>
              </tr>
            </thead>
            <tbody>
              {% for buildType in allBuildTypesPerBranch %}
                <tr>
                  <td><a style="display: block;" href="{% url "builds:current_buildtype_branch" buildType.buildType run.fmatvecBranch run.hdf5serieBranch run.openmbvBranch run.mbsimBranch %}">{%autoescape off%}{{buildType.icon}}{%endautoescape%}&nbsp;{{buildType.buildType}}</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
    </div>
  </dd>
  <dt class="col-2">Executor</dt>
  <dd class="col-10">{%autoescape off%}{{run.executor}}{%endautoescape%}</dd>
  <dt class="col-2">Called command</dt>
  <dd class="col-10">
    <div class="dropdown">
      <button class="btn btn-secondary btn-xs" type="button" data-toggle="dropdown">show {% octicon "triangle-down" %}</button>
      <code class="dropdown-menu" style="padding:1.5em;">
        {{run.command}}
      </code>
    </div>
  </dd>
  <dt class="col-2" data-toggle="tooltip" data-placement="bottom" title="builds/Run: id={{run.id}}">Start time</dt>
  <dd class="col-10 DATETIME">{{run.startTime|date:'c'}}</dd>
  <dt class="col-2">End time</dt>
  <dd class="col-10">
    {% if run.endTime is None %}
      <span class="text-danger">still running or aborted</span>
    {% else %}
      <span class="DATETIME">{{run.endTime|date:'c'}}</span>
    {% endif %}
  </dd>
  <dt class="col-2">Navigate</dt>
  <dd class="col-10">
    <a class="btn btn-info btn-xs" href="?previous=1">
      {% octicon "chevron-left" %} previous
    </a>
    <a class="btn btn-info btn-xs" href="?next=1">
      {% octicon "chevron-right" %} next
    </a>
    <a class="btn btn-info btn-xs" href="?current=1">
      {% octicon "chevron-right" %}{% octicon "chevron-right" %} current
    </a>
  </dd>
</dl>
<hr/>

<h2>Repository State</h2>
<table style="width:auto;" class="table table-striped table-hover table-bordered table-sm">
  <thead>
    <tr>
      <th>{% octicon "repo" %}&nbsp;Repository</th>
      <th>
        <div class="dropdown">
          <button class="btn btn-xs btn-secondary" type="button" data-toggle="dropdown">
            {% octicon "git-branch" %}&nbsp;<b>Branch</b> {% octicon "triangle-down" %}
          </button>
          <div class="dropdown-menu" style="padding:1.5em;">
            <p><b>Switch to CURRENT build of branches:</b></p>
            <table class="table table-hover table-bordered table-sm">
              <thead>
                <tr>
                  <th><span class="badge badge-success">{% octicon "repo" %}&nbsp;fmatvec</span></th>
                  <th><span class="badge badge-success">{% octicon "repo" %}&nbsp;hdf5serie</span></th>
                  <th><span class="badge badge-success">{% octicon "repo" %}&nbsp;openmbv</span></th>
                  <th><span class="badge badge-success">{% octicon "repo" %}&nbsp;mbsim</span></th>
                </tr>
              </thead>
                {% for branch in allBranches %}
                  <tr>
                    <td><a style="display: block;" href="{% url "builds:current_buildtype_branch" run.buildType branch.fmatvecBranch branch.hdf5serieBranch branch.openmbvBranch branch.mbsimBranch %}"><span class="badge badge-primary">{% octicon "git-branch" %}&nbsp;{{branch.fmatvecBranch}}</span></a></td>
                    <td><a style="display: block;" href="{% url "builds:current_buildtype_branch" run.buildType branch.fmatvecBranch branch.hdf5serieBranch branch.openmbvBranch branch.mbsimBranch %}"><span class="badge badge-primary">{% octicon "git-branch" %}&nbsp;{{branch.hdf5serieBranch}}</span></a></td>
                    <td><a style="display: block;" href="{% url "builds:current_buildtype_branch" run.buildType branch.fmatvecBranch branch.hdf5serieBranch branch.openmbvBranch branch.mbsimBranch %}"><span class="badge badge-primary">{% octicon "git-branch" %}&nbsp;{{branch.openmbvBranch}}</span></a></td>
                    <td><a style="display: block;" href="{% url "builds:current_buildtype_branch" run.buildType branch.fmatvecBranch branch.hdf5serieBranch branch.openmbvBranch branch.mbsimBranch %}"><span class="badge badge-primary">{% octicon "git-branch" %}&nbsp;{{branch.mbsimBranch}}</span></a></td>
                  </tr>
                {% endfor %}
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </th>
      {% if run.fmatvecUpdateOK is not None or run.hdf5serieUpdateOK is not None or run.openmbvUpdateOK is not None or run.mbsimUpdateOK is not None %}
        <th>{% octicon "sync" %}&nbsp;Update</th>
      {% endif %}
      <th>{% octicon "git-commit" %}&nbsp;Commit</th>
      <th>{% octicon "person" %}&nbsp;Author</th>
      <th>{% octicon "clock" %}&nbsp;Date</th>
      <th>{% octicon "note" %}&nbsp;Subject</th>
    </tr>
  </thead>
  <tbody>
    {% for repo in repoList %}
      {% cycle "fmatvecUpdateOutput" "hdf5serieUpdateOutput" "openmbvUpdateOutput" "mbsimUpdateOutput" as repoUpdateOutput silent %}
      {% cycle run.fmatvecBranch run.hdf5serieBranch run.openmbvBranch run.mbsimBranch as repoBranch silent %}
      {% cycle run.fmatvecTriggered run.hdf5serieTriggered run.openmbvTriggered run.mbsimTriggered as repoTriggered silent %}
      {% cycle run.fmatvecUpdateOK run.hdf5serieUpdateOK run.openmbvUpdateOK run.mbsimUpdateOK as repoUpdateOK silent %}
      {% cycle run.fmatvecUpdateAuthor run.hdf5serieUpdateAuthor run.openmbvUpdateAuthor run.mbsimUpdateAuthor as repoUpdateAuthor silent %}
      {% cycle run.fmatvecUpdateDate run.hdf5serieUpdateDate run.openmbvUpdateDate run.mbsimUpdateDate as repoUpdateDate silent %}
      {% cycle run.fmatvecUpdateCommitID run.hdf5serieUpdateCommitID run.openmbvUpdateCommitID run.mbsimUpdateCommitID as repoUpdateCommitID silent %}
      {% cycle run.fmatvecUpdateMsg run.hdf5serieUpdateMsg run.openmbvUpdateMsg run.mbsimUpdateMsg as repoUpdateMsg silent %}
      <tr>
        <td>
          <a href="https://github.com/mbsim-env/{{ repo }}"><span class="badge badge-success">{% octicon "repo" %}&nbsp;{{ repo }}</span></a>
        </td>
        <td>
          <a href="https://github.com/mbsim-env/{{ repo }}/tree/{{ repoBranch }}">
            <span class="badge badge-primary">{% octicon "git-branch" %}&nbsp;{{ repoBranch }}</span>
          </a>
        </td>
        {% if run.fmatvecUpdateOK is not None or run.hdf5serieUpdateOK is not None or run.openmbvUpdateOK is not None or run.mbsimUpdateOK is not None %}
          <td class="table-{{ repoUpdateOK|yesno:"success,danger," }}">
            {% if repoUpdateOK is not None %}
              <span class="text-{{ repoUpdateOK|yesno:"success,danger" }}">
                {% if repoUpdateOK %}{% octicon "check" %}{% else %}{% octicon "stop" %}{% endif %}
              </span>&nbsp;
              <a href="{% url "base:textFieldFromDB" "builds" "Run" run.id repoUpdateOutput %}">{{ repoUpdateOK|yesno:"passed,failed" }}</a>
            {% endif %}
          </td>
        {% endif %}
        <td {% if repoTriggered %}class="table-info"{%endif%}>
          <a class="text-nowrap" href="https://github.com/mbsim-env/{{ repo }}/commit/{{ repoUpdateCommitID }}">
            <code>{{ repoUpdateCommitID|truncatechars:8 }}</code>
          </a>
        </td>
        <td {% if repoTriggered %}class="table-info"{%endif%}>
          <i>{{repoUpdateAuthor}}</i>
        </td>
        <td {% if repoTriggered %}class="table-info"{%endif%}>
          <span class="DATETIME">{{repoUpdateDate|date:'c'}}</span>
        </td>
        <td class="text-break {% if repoTriggered %}table-info{%endif%}">
          {{repoUpdateMsg}}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Build Status</h2>
<p>{% octicon "info" %}&nbsp;Failures in the following table should be fixed from top to bottom since a error in one tool may cause errors on dependent tools.<br/>
{% octicon "info" %}&nbsp;A tool name in gray color is a tool which may fail and is therefore not reported as an error in the Atom feed.</p>

<table id="toolTable" class="table table-striped table-hover table-bordered table-sm w-100">
  <thead>
    <tr>
      <th>{% octicon "file-directory" %}&nbsp;Tool</th>
      <th>{% octicon "tools" %}&nbsp;Configure</th>
      <th>{% octicon "sync" %}&nbsp;Make</th>
      <th>{% octicon "checklist" %}&nbsp;Make Check</th>
      <th>{% octicon "question" %}&nbsp;Doxygen Doc</th>
      <th>{% octicon "question" %}&nbsp;XML Doc</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

{% if run.distributionOK is not None %}
  <h2>Distribution</h2>
  <div class="alert alert-{{ run.distributionOK|yesno:"success,danger" }}" role="alert">
    <span class="text-{{ run.distributionOK|yesno:"success,danger" }}">
      {% if run.distributionOK %}{% octicon "check" %}{% else %}{% octicon "stop" %}{% endif %}
    </span>
    {{ run.distributionOK|yesno:"Successfully,Failed to" }} create a binary distribution:<br/>
    <a href="{% url 'base:textFieldFromDB' 'builds' 'Run' run.id 'distributionOutput' %}">log-file</a>;
    <strong><a href="distributionFile/">Download</a></strong>;
    <a href="distributionDebugFile/">debug-info</a>
    {% if run.distributionFile is not None and releaseDistributionPossible %}
      <div class="card border-light">
        <div class="card-header bg-light">
          {% octicon "cloud-upload" %}{% octicon "tag" %}&nbsp;<a href="#releaseDistribution" data-toggle="collapse">
            Release this distribution</a>&nbsp;{% octicon "triangle-down" %}
        </div>
        <div class="card-body collapse" id="releaseDistribution">
          <p>Releasing this distribution will</p>
          <ul>
            <li>tag the commits of the repositories, shown at the top, on GitHub.</li>
            <li>copy the above distribution (<b>Download</b> - debug-info) to <a href="{% url 'service:releases' %}">releases</a>.</li>
          </ul>
          <p>When releasing a distribution you have</p>
          <form id="releaseForm">
            <div class="form-check">
              <input type="checkbox" class="form-check-input RELEASECHECK" id="releaseCheck1"/>
              <label class="form-check-label" for="releaseCheck1">first to check that the corresponding debug build works including all examples.</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input RELEASECHECK" id="releaseCheck2"/>
              <label class="form-check-label" for="releaseCheck2">first to check that the corresponging valgrind-examples of the debug build works.</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input RELEASECHECK" id="releaseCheck3"/>
              <label class="form-check-label" for="releaseCheck3">first to download the distribution and check it manually on a native OS (at least using the test script <code>.../mbsim-env/bin/mbsim-env-test[.sh|.bat]</code>).</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input RELEASECHECK" id="releaseCheck4"/>
              <label class="form-check-label" for="releaseCheck4">first to create a commit in <span class="badge badge-success">{% octicon "repo" %}&nbsp;mbsim</span> <code>mbsimgui/RELEASENOTES.md</code> which changes "Release NEXT" to the release version number below and WAIT for the NEXT nightly build before continueing.</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input RELEASECHECK" id="releaseCheck5"/>
              <label class="form-check-label" for="releaseCheck5">to release the Windows and Linux release builds at the same commit state using the same "release version" string!</label>
            </div>
            <div class="form-group">
              <label for="releaseVersion">Release version</label>
              <input class="form-control" id="releaseVersion" placeholder="x.y">
            </div>
            <button type="button" class="btn btn-primary" id="releaseButton">
              {% octicon "cloud-upload" %}&nbsp;Release as
              <b>mbsim-env-release-<span class="RELSTR">x.y</span>-{{releaseFileSuffix}}</b>
              and {% octicon "tag" %}&nbsp;tag as
              <b>release/<span class="RELSTR">x.y</span>-{{releaseTagSuffix}}</b>
            </button>
            <p><small>
              (NOTE! This will create an annotated git tag with your username and email on the public MBSim-Env repositories on GitHub!)
            </small></p>
          </form>
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}

{% if examples|length > 0 %}
  <h2 id="EXAMPLES">Examples</h2>
  <div class="alert alert-{{ examplesAllOK|yesno:"success,danger" }}" role="alert">
    <span class="text-{{ examplesAllOK|yesno:"success,danger" }}">
      {% if examplesAllOK %}{% octicon "check" %}{% else %}{% octicon "stop" %}{% endif %}
    </span>
    {% if examplesAllOK %}
      All related example runs have passed
    {% else %}
      At least one related example run has failed
    {% endif %}
    <ul class="list-group">
      {% for ex in examples %}
        <li class="list-group-item">
          <span class="text-{{ ex.ok|yesno:"success,danger" }}">
            {% if ex.ok %}{% octicon "check" %}{% else %}{% octicon "stop" %}{% endif %}
          </span>
          <a href="{% url "runexamples:run" ex.id %}">Example run with build type '{{ ex.buildType }}'</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% endblock %}
