# copy this file to /lib/systemd/system/mbsimenvstaging.service
# and start and enable the service using
# systemctl start mbsimenvstaging.service
# systemctl enable mbsimenvstaging.service

[Unit]
Description=MBSim-Env Staging Service
Requires=docker.service
After=docker.service

[Service]
Environment=MBSIMENVSERVERNAME=wwwstaging.mbsim-env.de
Environment=MBSIMENVTAGNAME=staging
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/dockeruser/buildstaging/docker/setup.py run service -d start --cronBuilds
ExecStop=/home/dockeruser/buildstaging/docker/setup.py run service -d stop

[Install]
WantedBy=multi-user.target
