# copy this file to /lib/systemd/system/mbsimenv.service
# and start and enable the service using
# systemctl start mbsimenv.service
# systemctl enable mbsimenv.service

[Unit]
Description=MBSim-Env Service
Requires=docker.service
After=docker.service

[Service]
Environment=MBSIMENVSERVERNAME=www.mbsim-env.de
Environment=MBSIMENVTAGNAME=latest
Type=onshot
RemainAfterExit=yes
ExecStart=/home/dockeruser/build/docker/setup.py run service -j 6 -d start
ExecStop=/home/dockeruser/build/docker/setup.py run service -j 6 -d stop
